*.project
*.ini
*.lck
*.log
*.ccsproject
*.xml
*.launch
*.cproject
*.prefs
*.mk
*.index
*.location
*.properties
*.snap
*.bin
*.ccsimportspec
*.ccxml
*.cmd
*.db
*.crf
*.bak
*.uvopt
*.XPS15
*.iex
*.htm
*.plg
*.tra
*.uvgui
*.o
*.d
*.html
*.bmp
*.xls
*.map
*.dep
*.lnp
*.axf
*.Kit
Lab 2 - RTOS Kernel/Valvano Sample RTOS/
